<%= render 'shared/page_header', title: 'Job Applications' %>

<div class="row">
  <div class="col-12">
    <%= paginate @job_applications %>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <% if @job_applications.any? %>
      <%= render 'list' %>
    <% else %>
      <div class="p-3 text-center">
        <h2>
          :(<br>
          Sorry. No applications yet.
        </h2>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <%= paginate @job_applications %>
  </div>
</div>
