<%=
  render 'shared/page_header',
    title: t('views.job_ads.new')
%>

<nav aria-label="breadcrumb" class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to "Jobs Board", root_path %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= t('views.job_ads.new') %>
    </li>
  </ol>
</nav>

<%= render 'form' %>
