<div class="container">
  <%=
    render 'shared/page_header',
      title: @job_ad.name,
      company_name: @job_ad.company_name,
      company_email: @job_ad.company_email,
      deadline: @job_ad.deadline
  %>

  <div class="row">
    <div class="col-12 col-lg-6">
      <%= simple_format(@job_ad.description) %>
    </div>
    <div class="col-12 col-lg-5 offset-lg-1">
      <% if @job_ad.expired? %>
        <div class="alert alert-danger" role="alert">
          Applications for this job has been cosed.
        </div>
      <% else %>
        <div id="application">
          <%= render 'job_applications/form' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
